<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .btn-custom {
            background-color: #28a745;
            color: #fff;
            border: none;
        }
        .btn-custom:hover {
            background-color: #218838;
        }
    </style>
</head> 
<body>
    <div class="container">
        <h1 class="mt-3 mb-4 text-center" style="color: #f70707;">Sender Portal</h1>
        <h1 class="mb-4">Send a Message</h1>
        <form action="/encrypt" method="POST">
            <div class="form-group">
                <label for="plaintext">Enter Your Message:</label>
                <input type="text" class="form-control" id="plaintext" name="plaintext" placeholder="Enter your message...">
            </div>
            <button type="submit" class="btn btn-lg btn-custom" onclick="alert('keys are stored in server')">Send</button>
        </form>

        {% if encrypted_text %}
        <div class="mt-4">
            <h2>Encrypted Text:</h2>
            <p>{{ encrypted_text }}</p>
            <button class="btn btn-secondary" onclick="copyToClipboard('{{ encrypted_text }}')">Copy to Clipboard</button>
            <!-- <p>{{  recipient_private_key  }}</p>
            <p>{{  sender_public_key  }}</p> -->
        </div>
        {% endif %}
    </div>
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text);
        }
    </script>
</body>
</html>
